<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Homework Organizer</title>
        <script src="https://unpkg.com/parse/dist/parse.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div id="subs">

            <h2>Maths</h2>
            <ul>
                <li v-for="item in Maths">
                    {{ item }}
                </li>
            </ul>
            <h2>Physics</h2>
            <ul>
                <li v-for="item in Physics">
                    {{ item }}
                </li>
            </ul>
            <h2>Chem</h2>
            <ul>
                <li v-for="item in Chem">
                    {{ item }}
                </li>
            </ul>
            <h2>MAT</h2>
            <ul>
                <li v-for="item in MAT">
                    {{ item }}
                </li>
            </ul>
            <h2>Eng</h2>
            <ul>
                <li v-for="item in Eng">
                    {{ item }}
                </li>
            </ul>
            <h2>Bio</h2>
            <ul>
                <li v-for="item in Bio">
                    {{ item }}
                </li>
            </ul>
            <h2>SST</h2>
            <ul>
                <li v-for="item in SST">
                    {{ item }}
                </li>
            </ul>
            <h2>Hindi</h2>
            <ul>
                <li v-for="item in Hindi">
                    {{ item }}
                </li>
            </ul>
            <h2>Telugu</h2>
            <ul>
                <li v-for="item in Telugu">
                    {{ item }}
                </li>
            </ul>

        </div>
        <script src="code.js" charset="utf-8"></script>
    </body>
</html>
