#FractionCalculator{

	background-color: lightblue;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 10px;
	width: 800px;

}

.Plus, .Minus, .Into, .By{
	width: 30px;
	height: 30px;
	font-size: 20px;
} 

.Simplify {
	width: 80px;
	height: 30px;
	font-size: 17.5px;
}

#FractionCalculator p{
	font-size: 20px;
}

#FractionCalculator input{
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100px;
	text-align: center;
	
}

.FractionNumerator1 {

	width: 5%;
	margin-left: 2%;
	margin-top: 1%; 

}

.FractionDenominator1 {

	width: 5%;
	margin-left: 2%;

}

.FractionNumerator2 {

	width: 5%;
	margin-left: 2%;

}

.FractionDenominator2 {

	width: 5%;
	margin-left: 2%;
	
}

