#FractionCalculator{

	background-color: rgb(255, 100, 60);
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 10px;
	width: 800px;

}

.PhysicsKinematicsBasicEqationsOfMotion{
	background: rgb(255, 125, 70);
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 10px;
	width: 800px;

}

.ChemPhValue {
	background: rgb(255, 150, 80);
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 10px;
	width: 800px;
}

.SimpleInterestCalc {
	background: rgb(255, 175, 90);
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-right: 10px;
	margin: auto;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 10px;
	width: 800px;
}

.Plus, .Minus, .Into, .By{
	width: 30px;
	height: 30px;

	font-size: 20px;
} 

#FractionCalculator p{
	font-size: 20px;
}

#FractionCalculator input{
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100px;
	text-align: center;
	
}

.FractionNumerator1 {

	width: 5%;
	margin-left: 2%;
	margin-top: 1%; 

}

.FractionDenominator1 {

	width: 5%;
	margin-left: 2%;

}

.FractionNumerator2 {

	width: 5%;
	margin-left: 2%;

}

.FractionDenominator2 {

	width: 5%;
	margin-left: 2%;
	
}



button{
	width: 100px;
	height: 40px;
	font-size: 15px;
	border-radius: 12px;
	transition-duration: 0.4s;
	background: whitesmoke;
	border: 2px solid lightblue;
}

button:hover {
	background: rgb(138, 172, 211);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

