<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework Project</title>
    <script src="https://unpkg.com/parse/dist/parse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="main">        
        <h1>Homeworks Pending</h1>
        <a href="">Submit Data</a>
        <button onclick="changeData()">Get Data</button>
        <h3>Maths: </h3>
        <ul>
            <li v-for="item in Math" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>Physics: </h3>
        <ul>
            <li v-for="item in Physics" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>Chemistry: </h3>
        <ul>
            <li v-for="item in Chemistry" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>MAT: </h3>        
        <ul>
            <li v-for="item in MAT" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>English: </h3>
        <ul>
            <li v-for="item in English" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>Biology: </h3>
        <ul>
            <li v-for="item in Biology" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>SST: </h3>
        <ul>
            <li v-for="item in SST" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>Hindi: </h3>
        <ul>
            <li v-for="item in Hindi" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>Telugu: </h3>
        <ul>
            <li v-for="item in Telugu" :key="item.id">
                {{ item }}
            </li>
        </ul>
        <h3>COMP: </h3>
        <ul>
            <li v-for="item in Comp" :key="item.id">
                {{ item }}
            </li>
        </ul>
    </div>
    


    
    <script src="code.js"></script>
</body>
</html>